@import "tailwindcss";

/* Thanh cuộn chung */
::-webkit-scrollbar {
  width: 4px;   /* độ rộng scrollbar dọc */
  height: 4px;  /* độ cao scrollbar ngang */
}

/* Phần rãnh của scrollbar */
::-webkit-scrollbar-track {
  background: transparent;  /* hoặc #f1f1f1 nếu muốn có màu nền */
}

/* Thanh kéo (thumb) */
::-webkit-scrollbar-thumb {
  background: #c1c1c1;   /* màu thanh kéo */
  border-radius: 4px;    /* bo tròn */
}

/* Hover vào thanh kéo */
::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}


.ant-popover-inner {
  @apply !p-0;
}
/* .ant-table-cell {
  padding: 0px 0px !important;
}
.ant-table-thead > tr > th {
  padding: 0px 0px !important;
} */

.ant-table-tbody > tr > td {
  padding: 0px 0px !important;
}
.ant-table-column-sorters {
  padding: 8px 0px !important;
}
.ant-table-cell {
  padding: 0px 4px !important;
}
.ant-dropdown-trigger {
  padding: 0px 0px !important;
}

.backlog--panel-resize-handle::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  width: 6px;
  height: 100%;
  background-color: transparent;
  /* background-color: oklch(0.696 0.17 162.48); */
}
.relative.pointer-events-auto{
  z-index: 10;
  width: 100%;
}



.crop-container {
  position: relative;
  width: 236px;
  height: 236px;

  background: linear-gradient(to right, #cbd4e1 8px, transparent 8px) 0 0,
    linear-gradient(to right, #cbd4e1 8px, transparent 8px) 0 100%,
    linear-gradient(to left, #cbd4e1 8px, transparent 8px) 100% 0,
    linear-gradient(to left, #cbd4e1 8px, transparent 8px) 100% 100%,
    linear-gradient(to bottom, #cbd4e1 8px, transparent 8px) 0 0,
    linear-gradient(to bottom, #cbd4e1 8px, transparent 8px) 100% 0,
    linear-gradient(to top, #cbd4e1 8px, transparent 8px) 0 100%,
    linear-gradient(to top, #cbd4e1 8px, transparent 8px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 70px 70px;
}
.reactEasyCrop_CropArea {
  color: rgba(255, 255, 255, 0.8) !important;
}

.ant-skeleton-content{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-skeleton-title{
  width:100% !important;
  height: 40px !important;
}

.btn {
  
}
.btn > span, 
.btn > svg {
  transform: scale(0.8); /* thu nhỏ content */
}
