@import "tailwindcss";

.ant-popover-inner {
  @apply !p-2;
}
/* .ant-table-cell {
  padding: 0px 0px !important;
}
.ant-table-thead > tr > th {
  padding: 0px 0px !important;
} */

.ant-table-tbody > tr > td {
  padding: 0px 0px !important;
}
.ant-table-column-sorters{
  padding: 8px 0px !important;
}
.ant-table-cell{
  padding: 0px 4px !important;
}
.ant-dropdown-trigger{
  padding: 0px 0px !important;
}

.backlog--panel-resize-handle::before{
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  width: 6px;
  height: 100%;
  background-color: transparent;
  /* background-color: oklch(0.696 0.17 162.48); */
}














